<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Menu Categories</h1>
<ul>
    {% for item in menu_items %}
    <li>{{ item.food_name }}</li>
    <li>{{ item.description }}</li>
    <li>{{ item.price }}</li>
    <li>{{ item.discount }}</li>
    <li>{{ item.inventory }}</li>
    <li>{{ item.image }}</li>
    <li>{{ item.menu_category }}</li>
    {% endfor %}

</ul>
<h1>
    Add Category
</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Add Category</button>
</form>
</body>
</html>