{% extends 'website/base.html' %}
{% load static %}


{% block body %}
<body class="sub_page">
{% endblock body %}

{% block slide-section %}
{# DO NOT write anything in this block! #}
{% endblock slide-section %}

{% block content %}

<h1>Menu Categories</h1>
<ul>
    {% for category in menu_categories %}
    <li>{{ category.label }}</li>
    {% endfor %}

</ul>
<h1>
    Add Category
</h1>
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Add Category</button>
</form>

{% endblock content %}

