{% extends 'website/base.html' %}
{% load static %}

{% block body %}
<body class="sub_page">
{% endblock body %}

{% block slide-section %}
{# DO NOT write anything in this block! #}
{% endblock slide-section %}

{% block content %}

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Category</h5>
                <p class="card-text">Use this form to add a new category to the menu.</p>
                <a href="{% url 'add_menu_categories'%}" class="btn btn-primary">Add Category</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Item</h5>
                <p class="card-text">Use this form to add a new item to the menu.</p>
                <a href="{% url 'add_menu_item'%}" class="btn btn-primary">Add Item</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
