{% extends 'website/base.html' %}
{% load static %}


{% block body %}
    <body class="sub_page">
{% endblock body %}

{% block slide-section %}
    {# DO NOT write anything in this block! #}
{% endblock slide-section %}


{% load crispy_forms_tags %}


{% block content %}
    <h1 style="text-align: center">{{ action_type }} Menu Item</h1>
    <div class="container  mx-auto w-25 my-4">
        <form class="mx-auto border rounded-4 p-4 bg-dark text-warning"
              method="POST" action="" enctype="multipart/form-data">
            <div class="px-auto">

                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-outline-warning mt-3 font-weight-bold">Submit</button>
            </div>

        </form>
    </div>
{% endblock content %}