{% extends 'website/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
{% endblock css %}

{% block body %}
    <body class="sub_page">
{% endblock body %}

{% block slide-section %}
    {# DO NOT write anything in this block! #}
{% endblock slide-section %}

{% block content %}

    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Our Menu
                </h2>
            </div>

            <div class="search-bar justify-content-center">
                <form action="{% url 'menu' selected_category %}" method="get">

                    <div class="input-group my-3">
                        <input type="text" class="form-control input-text m-0" placeholder="Search Food Name" name="q"
                               aria-label="Recipient's username" aria-describedby="basic-addon2" style="height: 50px">
                        <div class="input-group-append">
                            <button class="btn btn-outline-warning btn-lg" type="submit"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>

                </form>
            </div>
            <ul class="filters_menu">
                {% if selected_category == 'all' %}
                    <li class="active">
                        {% else %}
                    <li class="">
                {% endif %}
                <a href="{% url 'menu' 'all' %}">All</a>
                </li>
                {% for category in categories %}
                    {% if selected_category == category.slug %}
                        <li class="active">
                            {% else %}
                        <li class="">
                    {% endif %}
                    <a href="{% url 'menu' category.slug %} ">{{ category.slug }}</a>
                {% endfor %}
                </li>
            </ul>

            <div class="filters-content">
                <div class="row grid">

                    {% if menu_items %}
                        {% for menu_item in menu_items %}

                            <div class="col-sm-6 col-lg-4 all {{ category.label|slugify }} ">

                                <div class="box" style="height: 450px">
                                    <div>

                                        <div class="img-box">
                                            {% if menu_item.image %}
                                                <img src="{{ menu_item.image.url }}"
                                                     alt="{{ menu_item.image.url }}"
                                                     class="rounded">
                                            {% else %}
                                                <img src="{% static 'menu/images/default_menu_item_photo.png' %}"
                                                     alt="">
                                            {% endif %}
                                        </div>

                                        <div class="detail-box">
                                            <h5>
                                                {{ menu_item.food_name }}
                                            </h5>
                                            <p>
                                                {{ menu_item.description }}
                                            </p>
                                            <div class="options">
                                                {% if menu_item.price == menu_item.discounted_price %}
                                                    <h6>
                                                        ${{ menu_item.price }}
                                                    </h6>
                                                {% else %}
                                                    <div class="d-flex flex-column">
                                                        <del class="text-danger mr-2">
                                                            ${{ menu_item.price }}
                                                        </del>
                                                        <h6>

                                                            ${{ menu_item.discounted_price }}
                                                        </h6>
                                                    </div>
                                                {% endif %}
                                                <div>
                                                    <h6>

                                                        remained: {{ menu_item.inventory }}
                                                    </h6>
                                                </div>
                                                <div>
                                                    {% if menu_item.inventory %}
                                                        {#                                                        <a href="{% url 'add-menu-item-to-cart' selected_category menu_item.id %}">#}
                                                        <form action="{% url 'add-menu-item-to-cart' menu_item.slug %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-warning p-2 rounded-circle">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em"
                                                                     height="1.5em" viewBox="0 0 56 56">
                                                                    <path fill="currentColor"
                                                                          d="M.953 6.719c0 .96.797 1.781 1.735 1.781h7.921l3.75 25.734c.493 3.328 2.25 5.414 5.649 5.414H47.36c.913 0 1.71-.75 1.71-1.757c0-1.008-.797-1.758-1.71-1.758H20.406c-1.336 0-2.156-.938-2.367-2.367l-.375-2.461h29.742c3.422 0 5.18-2.11 5.672-5.461l1.875-12.399a7.2 7.2 0 0 0 .094-.89c0-1.125-.844-1.899-2.133-1.899h-38.25l-.469-2.976c-.234-1.805-.89-2.72-3.28-2.72H2.687c-.937 0-1.734.822-1.734 1.76M18.04 47.242c0 2.133 1.688 3.797 3.82 3.797a3.766 3.766 0 0 0 3.797-3.797a3.781 3.781 0 0 0-3.797-3.797c-2.132 0-3.82 1.688-3.82 3.797m21.914 0c0 2.133 1.711 3.797 3.82 3.797c2.133 0 3.82-1.664 3.82-3.797c0-2.11-1.687-3.797-3.82-3.797c-2.109 0-3.82 1.688-3.82 3.797"></path>
                                                                </svg>
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        {% endfor %}

                    {% else %}
                        <p class="text-danger text-center font-weight-bold" style="height: 300px">No Food Found</p>
                    {% endif %}

                </div>
            </div>
            <div class="btn-box">
                <a href="{% url 'menu' 'all' %}">
                    View More
                </a>
            </div>
        </div>
    </section>

{% endblock content %}
