{% extends 'website/base.html' %}
{% block body %}
<div class="customer-orders-view">
    <h1 style="text-align: center"> My Orders</h1>
    {% if order in orders %}
        {% csrf_token %}
        <table >
            <thead>
            <tr>
                <th>order.id</th>
                <th>menu item</th>
                <th>quantity</th>
                <th>price</th>
                <th>discounted price</th>
                <th>total discounted price</th>



            </tr>
            </thead>
            <tbody>
            {% for order in user_orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.menu_item }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.total_discounted_price }}</td>
                    <td>{{ order.discounted_price }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="button" class="btn btn-primary px-4" value="Save Order">
    {% endif %}
{% endblock %}
