{% extends 'website/base.html' %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ORDER LIST</th>
            <th scope="col">
                <form action="{% url "order_list" %}" method="get">
                    <input type="hidden" name="ordering" value="customer">
                    <input type="submit" value="CUSTOMER">
                </form>
            </th>
            <th scope="col">
                <form action="{% url "order_list" %}" method="get">
                    <input type="hidden" name="ordering" value="menu_item">
                    <input type="submit" value="MENU_ITEM">
                </form>
            </th>
            <th scope="col">
                <form action="{% url "order_list" %}" method="get">
                    <input type="hidden" name="ordering" value="quantity">
                    <input type="submit" value="QUANTITY">
                </form>
            </th>
            <th scope="col">
                <form action="{% url "order_list" %}" method="get">
                    <input type="hidden" name="ordering" value="price">
                    <input type="submit" value="PRICE">
                </form>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order_list in object_list %}


            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td>{{ order_list.customer }}</td>
                <td>{{ order_list.menu_item}}</td>
                <td>{{ order_list.quantity }}</td>
                 <td>{{ order_list.price }}</td>


                <td>
                    {% if request.user.is_staff %}
                        <a href="{% url 'order_list-update' order_list.id %}">Edit</a>
                        <a href="{% url 'order_list-add' order_list.id %}" class="add">ADD</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
