{% extends 'user/user_profile.html' %}

{% block extera_profile_data %}

    <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Balance</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{ customer.balance }}
        </div>
    </div>
    <hr>

{% endblock extera_profile_data %}

{% block edit_button %}
   
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-info " target="__blank"
               href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
        </div>
    </div>

{% endblock %}
