{% load static %}


<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'website-home' %}">
            <span>
                A-Mirza
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'website-home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu' 'all' %}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'website-about' %}">About</a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="nav-item dropdown">
                        <button class="btn  dropdown-toggle text-white" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            MANAGE
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Orders</a></li>
                            <li><a class="dropdown-item" href="#">Menu</a></li>
                        </ul>
                    {% endif %}
                </ul>
                <div class="user_option">
                    {% if request.user.is_staff %}
                        <a class="staff_link" href="{% url 'all-staffs' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 48 48">
                                <g fill="currentColor">
                                    <path d="M17 31v-2h2v2z"/>
                                    <path fill-rule="evenodd"
                                          d="M20 4a3 3 0 0 0-3 3h-4a3 3 0 0 0-3 3v31a3 3 0 0 0 3 3h22a3 3 0 0 0 3-3V10a3 3 0 0 0-3-3h-4a3 3 0 0 0-3-3zm-1 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1zm-3 13a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm-1-4a1 1 0 0 1 1-1h15.5a1 1 0 1 1 0 2H16a1 1 0 0 1-1-1m0 12a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm13 4a3 3 0 1 0 0-6a3 3 0 1 0 0 6m-6 4.5c0-2.116 3.997-3.182 6-3.182s6 1.066 6 3.182V39H22z"
                                          clip-rule="evenodd"/>
                                </g>
                            </svg>
                        </a>
                        <a class="customer_link" href="{% url 'all-customers' %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>

                    {% endif %}
                    <a class="cart_link" href="{% url 'cart' %}">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"
                             style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"></path>
                    </g>
                  </g>
                            <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"></path>
                    </g>
                  </g>
                            <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"></path>
                    </g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                </svg>
                    </a>
                    {% if request.user.is_authenticated %}

                        <div class="btn-group ">
                            <button type="button"
                                    class="btn  dropdown-toggle text-primary rounded font-weight-bold"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false" style="background-color: #ffbe33">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                         focusable="false" class="chakra-icon css-ar-i1hv63" height="1em" width="1em"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    </svg>
                                    {{ request.user.username }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark ">
                                <li><a class="dropdown-item" href="/profile/">Profile</a></li>
                                 <li><a class="dropdown-item" href="#">Order History</a></li>
                                <li><a class="dropdown-item" href="">Change password</a></li>
                                <li><a class="dropdown-item" href="#">My Orders</a></li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}"
                           class="order_online text-primary rounded-pill font-weight-bold">
                            Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>


