{% load static %}
{% block css %}
    <style>
        .custom_nav-container .navbar-nav {
            padding-left: 0;
        }
    </style>
{% endblock %}

<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'website-home' %}">
            <span>
                A-Mirza
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'website-home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu' 'all' %}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'website-about' %}">About</a>
                    </li>

                    <!-- using `header_section_parameters` context processor -->
                    {% if is_staff %}
                        <li class="nav-item dropdown">
                            <button class="btn  dropdown-toggle text-white" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                MANAGE
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'manage-orders' %}">Orders</a></li>
                                <li><a class="dropdown-item" href="{% url 'manage-category-list' %}">Menu</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <!-- using `header_section_parameters` context processor -->
                    {% if is_manager %}
                        <li class="nav-item dropdown">
                            <button class="btn  dropdown-toggle text-white" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                REPORTS
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'manage-dashboard' %}">Dashboard</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
                <div class="user_option">

                    <!-- staffs and customers icon -->
                    {% if is_manager %}
                        <a class="staff_link" href="{% url 'accounts:all-staffs' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 48 48">
                                <g fill="currentColor">
                                    <path d="M17 31v-2h2v2z"></path>
                                    <path fill-rule="evenodd"
                                          d="M20 4a3 3 0 0 0-3 3h-4a3 3 0 0 0-3 3v31a3 3 0 0 0 3 3h22a3 3 0 0 0 3-3V10a3 3 0 0 0-3-3h-4a3 3 0 0 0-3-3zm-1 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1zm-3 13a1 1 0 1 0 0 2h7a1 1 0 1 0 0-2zm-1-4a1 1 0 0 1 1-1h15.5a1 1 0 1 1 0 2H16a1 1 0 0 1-1-1m0 12a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm13 4a3 3 0 1 0 0-6a3 3 0 1 0 0 6m-6 4.5c0-2.116 3.997-3.182 6-3.182s6 1.066 6 3.182V39H22z"
                                          clip-rule="evenodd">
                                    </path>
                                </g>
                            </svg>
                        </a>
                        <a class="customer_link" href="{% url 'accounts:all-customers' %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>

                    {% endif %}
                    <!-- staffs and customers icon -->

                    <!-- cart icon -->
                    <a class="" href="{% url 'cart' %}">

                        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em"
                             height="1.7em" viewBox="0 0 56 56">
                            <path fill="white"
                                  d="M.953 6.719c0 .96.797 1.781 1.735 1.781h7.921l3.75 25.734c.493 3.328 2.25 5.414 5.649 5.414H47.36c.913 0 1.71-.75 1.71-1.757c0-1.008-.797-1.758-1.71-1.758H20.406c-1.336 0-2.156-.938-2.367-2.367l-.375-2.461h29.742c3.422 0 5.18-2.11 5.672-5.461l1.875-12.399a7.2 7.2 0 0 0 .094-.89c0-1.125-.844-1.899-2.133-1.899h-38.25l-.469-2.976c-.234-1.805-.89-2.72-3.28-2.72H2.687c-.937 0-1.734.822-1.734 1.76M18.04 47.242c0 2.133 1.688 3.797 3.82 3.797a3.766 3.766 0 0 0 3.797-3.797a3.781 3.781 0 0 0-3.797-3.797c-2.132 0-3.82 1.688-3.82 3.797m21.914 0c0 2.133 1.711 3.797 3.82 3.797c2.133 0 3.82-1.664 3.82-3.797c0-2.11-1.687-3.797-3.82-3.797c-2.109 0-3.82 1.688-3.82 3.797"></path>
                        </svg>
                    </a>
                    <!-- cart icon -->

                    <!-- login and user management button -->
                    {% if request.user.is_authenticated %}

                        <div class="btn-group ">
                            <button type="button"
                                    class="btn  dropdown-toggle text-primary rounded font-weight-bold"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false" style="background-color: #ffbe33">
                                {% if request.user.photo %}
                                    <img class="rounded-circle" src="{{ request.user.photo.url }}" alt="photo"
                                         width="25">
                                {% else %}
                                    <img class="rounded-circle"
                                         src="{% static 'accounts/images/default_profile_photo.png' %}" alt="static"
                                         width="25">
                                {% endif %}
                                {% if request.user.username %}
                                    {{ request.user.username }}
                                {% elif request.user.phone %}
                                    {{ request.user.phone }}
                                {% elif request.user.email %}
                                    {{ request.user.email }}
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark ">

                                <!-- profile -->
                                <li>
                                    {% if request.user.is_staff and request.user.is_superuser %}
                                        <a class="dropdown-item m-0"
                                           href="{% url 'accounts:superuser-profile' %}">
                                    {% elif request.user.is_staff %}
                                        <a class="dropdown-item m-0"
                                           href="{% url 'accounts:staff-profile' %}">
                                    {% else %}
                                        <a class="dropdown-item m-0"
                                           href="{% url 'accounts:customer-profile' %}">
                                    {% endif %}
                                    Profile</a>
                                </li>
                                <!-- profile -->

                                <li><a class="dropdown-item m-0" href="">Change password</a></li>
                                <li><a class="dropdown-item m-0" href="#">My Orders</a></li>
                                <li>
                                    <form action="{% url 'accounts:logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item m-0">Log Out</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}"
                           class="order_online text-primary rounded-pill font-weight-bold">
                            Login
                        </a>
                    {% endif %}
                    <!-- login and user management button -->
                </div>
            </div>
        </nav>
    </div>
</header>


